<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>Recetario</title>
   <link rel="stylesheet" href="../static/css/style.css">
    
</head>
<body>
    <header>
        <h1>Recetario 🍽️</h1>
    </header>

    <main>
        <div class="contenedor-recetas">
            {% for almuerzo in almuerzos%}
                <div class="card">
                    <img src="{{ url_for('static', filename='images/' + almuerzo.imagen) }}" alt="{{ almuerzo.titulo }}">
                    <h2>{{ almuerzo.titulo }}</h2>
                    <h3>{{ almuerzo.categoria }}</h3>
                    <p><strong>Ingredientes:</strong> {{ almuerzo.ingredientes }}</p>
                    <p><strong>Pasos:</strong> {{ almuerzo.pasos }}</p>
                </div>
            {% endfor %}
        </div>
    </main>

    <footer>
        <p></p>
    </footer>
</body>
</html>
