<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
     <link rel="stylesheet" href="../static/css/style.css">
    <title>Document</title>
</head>
<body>
        <header>
        <h1>Recetario de Juan 🍽️</h1>
    </header>

    <ul class="list">
<li class="list__item">
    <a href="{{url_for('desayunos')}}">
        <img src="../static/img/breakfast-amico.svg" alt="">
        <span> Desayunos </span>
    </a>

<li class="list__item">
    <a href="{{url_for('almuerzos')}}">
        <img src="../static/img/Lunch time-amico.svg" alt="">
        <span> Almuerzo </span>
    </a>

<li class="list__item">
    <a href="{{url_for('cenas')}}">
        <img src="../static/img/Cooking-amico.svg" alt="">
        <span> Cena </span>
    </a>

</li>

    </ul>
</body>
</html>